@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgb(100, 123, 253);
}
#refresh {
  margin-top: 100px;
}
.mt-5 {
  color: #fff3cd;
  background-color: rgb(29, 88, 252);
  border-radius: 4px;
  padding: 1px;
  margin: 20px;
  border: azure solid 1px;
  margin: auto;
}
button {
  background-color: rgb(241, 101, 101);
  border-radius: 6px;
  padding: 3px;
  margin-top: 50px;
  display: block;
  margin: auto;
}
img {
  margin-top: 100px;
}
#excuse {
  margin: auto;
}
